<!DOCTYPE html>
<html>

<head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>categories - siw recipes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/stileCategories.css" />
</head>

<body>
    <header th:insert="~{/fragments/fragments.html :: header}"></header>
    
    <div th:if="${nomeCat}" class="w-50 mx-auto alert alert-dismissible fade show">
    	<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    	Categoria <strong><span th:text="${nomeCat}"></span></strong> aggiunto con successo!
  	</div>

    <div class="container text-center">
        <img class="mt-3" src="/images/SiWRecipes_darkblue.png">
        <div>
            <h2 class="mt-4">Categorie disponibili</h2>
        </div>
    </div>
    
    <div sec:authorize="hasAuthority('admin')">
		<a class="btn btn-dark btn-lg d-block mx-auto w-50" th:href="@{'/admin/formNewCategory'}">Aggiungi una nuova categoria</a>
	</div>
        
<div class="container mt-4">
    <div class="col-md-12 col-lg-12">
		<div th:if="${categories.isEmpty()}">
                <span>Non sono presenti categorie di ricette nel sistema</span>
        </div>
        <div th:unless="${categories.isEmpty()}">
        <article class="post vt-post" th:each="cat : ${categories}">
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-4">
                    <div class="post-type post-img">
                        <a th:href="@{'/category/' + ${cat.id}}">
							<img th:src="${cat.picture!=null ? cat.picture.path : '/images/NoImage.png'}" style="max-width: 100%; max-height: 100%;" class="img-responsive" alt="image post">
						</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-8">
                    <div class="caption">
                        <a class="linkCategoria h2 d-block-inline" th:href="@{'/category/' + ${cat.id}}" th:text="${cat.name}"></a>
                        <a sec:authorize="hasAuthority('admin')" class="linkModifica btn btn-success btn-lg" th:href="@{'/admin/updateCategory/'+${cat.id}}">Modifica</a>
                        <p class="mb-5" style="word-wrap: break-word; margin-right: 5px;" th:text="${cat.description}"></p>
                        <a class="linkGuardaRicette btn d-block btn-lg w-75 btn-primary" th:href="@{'/category/' + ${cat.id}}" role="button">
							Guarda tutte le ricette per questa categoria</a> </div>
                </div>
            </div>
        </article>
        </div>
    </div>
</div>
</body>

</html>